*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  color: #000;
  font-weight: 500;
  font-size: 14px;

  display: flex;
  flex-direction: column;
  &.fixed-page {
    overflow: hidden;
  }
}
.container {
  max-width: 1050px;
  width: 100%;
  margin: 0 auto;
  padding: 0 30px;
}
ul {
  list-style: none;
}
a,
a:active,
a:hover {
  outline: none;
  text-decoration: none;
  transition: 0.3s;
}
button,
button:active,
button:focus,
button:hover,
input,
input:active,
input:focus,
input:hover,
textarea,
textarea:focus {
  outline: none;
  background: $accentColor;
  border: none;
}
textarea {
  resize: none;
}

img {
  max-width: 100%;
}

.slick-arrow {
  width: 13px;
  height: 20px;
  border: none;
  cursor: pointer;
  position: absolute;
  top: 90%;
  transform: translateY(-50%);
  z-index: 10;

  &.slick-prev {
    background: url("../img/Shape4.svg");
    left: 80%;
  }
  &.slick-next {
    background: url("../img/Shape3.svg");
    right: 15%;
  }
  @media (max-width: 992px) {
    opacity: 0;
  }
}

.slick-dots {
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  li {
    background: #add136;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    opacity: 0.5;
    transition: 0.3;
    cursor: pointer;
  }

  button {
    display: none;
  }
}

.new-slider {
  margin-top: 20px;
  width: 100%;
  padding: 10px;

  &__slide {
    padding: 0 20px;
  }
}

.arrowUp {
  font-size: 35px;
  display: none;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  background: $accentColor;
  cursor: pointer;
  position: fixed;
  left: 20px;
  bottom: 20px;
  z-index: 19;

  &.active {
    display: flex;
  }
}
